<div class="container-fluid box">
    <div class="community col-md-8">
        <div class="community-header">
            <p>Community</p>
        </div>
        <div class="form-inline finder">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-default">Serach</button>
        </div>
        <div class="community-resaults-already-friend col-md-6">
            <p>Your's friend:</p>
            <div class="list-group resaults">
                <a href="#" class="list-group-item">First item</a>
                <a href="#" class="list-group-item">Second item</a>
                <a href="#" class="list-group-item">Third item</a>
            </div>
        </div>
        <div class="community-resaults-non-friend col-md-6">
            <p>Invite:</p>
            <div class="list-group resaults">
                <a href="#" class="list-group-item">First item</a>
                <a href="#" class="list-group-item">Second item</a>
                <a href="#" class="list-group-item">Third item</a>
            </div>
        </div>
    </div>
</div>
